data.gz
data.txt
squish
!cmd/squish/
!cmd/squish/main.go
build
*.pprof
*.prof
output.gz
order.txt
*.pdf
*.gz
input
output
order.*
.DS_Store
.gocache
*.fastq.gz
work
.nextflow*
output-nextflow*
*.fastq*
tadd
