/*
 * Default settings for the squish test workflows.
 *
 * Memory mode mirrors:
 *   make test-run-all
 *
 * External mode mirrors:
 *   make test-run-all-external
 *
 * Example:
 *   nextflow run main.nf --engine external --fastqin data/test1.fastq
 */

params {
    fastqin = 'data/SRX1603629_T1_1.40000000.fastq.gz'
    fastqout = 'squish.SRX1603629_T1_1.40000000'
    outdir = 'output-nextflow'
    engine = 'external'
    bucket = 'auto'
    buckets = 512
    methods = 'alpha,gc,qual,alpha-heap,clump'
    make_pdf = true
    container = "stevekm/squish:latest"
}

process {
    executor = 'local'

    withName: RUN_SQUISH_METHOD {
        container = params.container
        maxForks = 1
        cpus = 1
        memory = '8 GB'
        time = '6 h'
    }
}

report {
    enabled = true
    file = "${params.outdir}/nextflow-report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/nextflow-trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/nextflow-timeline.html"
    overwrite = true
}

profiles {
    docker {
        docker.enabled = true
    }

    // memory {
    //     params.engine = 'memory'
    //     params.outdir = 'output-nextflow-memory'
    // }

    // external {
    //     params.engine = 'external'
    //     params.outdir = 'output-nextflow-external'
    // }

    /*
     * Use this profile when Graphviz/dot is unavailable and PDF generation
     * would make go tool pprof fail.
     */
    no_pdf {
        params.make_pdf = false
    }
}
